@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@mixin breakpoint($max-width) {
    @media (max-width: $max-width) {
        @content;
    }
}

$colors: (
    light_blue_gray: #6A85A4,
    blue_gray: #586F8C,
    dark_blue_gray: #495B73,
    text: #262625,
    black-shadow: #27272680,
    dark_gray: #A6A6A6,
    med_gray: #D9D9D8,
    light_gray: #F2F2F2,
    accent: #FF6961
);

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
    font-weight: 500;

    a, span, h1, h2, h3 {
        display: block;
    }

    a {
        text-decoration: none;
    }

    .btn {
        &.solid {
            border-radius: 100vmax;
            color: map-get($colors, light_gray);
            font-weight: 600;
            padding: 8px 24px;
            transition: .125s linear;
            cursor: pointer;

            &.red {
                background-color: map-get($colors, accent);

                &:hover {
                    color: map-get($colors, accent);
                }
            }
    
            &:hover {
                background: none;
                outline: 2px solid map-get($colors, accent);
                outline-offset: -2px;
            }
        }
    }

    .title-band {
        display: flex;
        justify-content: center;
        position: relative;

        h2 {
            background-color: #FFF;
            padding: 0 10px;
            z-index: 2;
        }

        hr {
            background-color: map-get($colors, med_gray);
            border: none;
            height: 2px;
            position: absolute;
            width: calc(100% - 48px);
            top: calc(50% - 2px);
            z-index: 1;
        }
    }
}

#header {
    align-items: center;
    border-bottom: 2px solid map-get($colors, med_gray);
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    padding: 0 24px;
    width: 100%;

    #logo-block {
        #header-logo {
            align-items: center;
            color: map-get($colors, text);
            display: flex;
            font-weight: 600;

            .logo {
                background-image: url(/assets/icon/logo.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                height: 24px;
                margin-right: 12px;
                width: 51px;
            }
        }
    }

    #nav-block {
        #navigation {
            align-items: center;
            display: flex;

                > :last-child {
                    margin-left: 12px;
                }

            a:not(.btn) {
                color: map-get($colors, text);
                padding: 18px 24px;
            }

            .drawer {
                &:hover {

                    .dropdown {
                        font-size: 0.875em;

                        a:hover {
                        }
                    }
                }
            }

            .dropdown {
                background-color: #FFFFFF;
                display: none;
                flex-direction: column;
                position: absolute;
                padding-bottom: 8px;
                z-index: 3;

                a {
                    padding: 8px 24px;
                    width: 100%;
                }
            }

            .drawer:hover .dropdown {
                display: block;
            }

            @include breakpoint(829px) {
                display: none;
            }
        }

        #mobile-nav {
            background-color: transparent;
            background-image: url(/assets/icon/menu.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 24px 16px;
            border: none;
            display: none;
            height: 16px;
            mask-size: 100%;
            transition: .125s linear;
            width: 24px;

            @include breakpoint(829px) {
                display: block;
            }

            &:hover {
                cursor: pointer;
                transform: scale(1.125);
            }
        }
    }

    @include breakpoint(829px) {
        height: 58.5px;
    }
}

#focus {
    width: 100%;
    
    .focus-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: space-around;

        .card {
            text-align: center;
            width: 324px;

            .icon {
                background-color: map-get($colors, med_gray);
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 100vmax;
                height: 48px;
                margin: 0 auto 6px;
                width: 48px;
                
                &.network {
                    background-image: url(/assets/icon/wifi.png);
                    background-size: 24px 17px;
                }
                
                &.endpoint {
                    background-image: url(/assets/icon/laptop.png);
                    background-size: 24px 17px;
                }
                
                &.user {
                    background-image: url(/assets/icon/user.png);
                    background-size: 16px;
                }
            }

            &:hover {
            }
        }
    }
}

#footer {
    padding: 0px 24px;

    #breadcrumbs > * + * {
        margin-left: 32px;
    }

    #breadcrumbs {
        display: flex;
        flex-direction: row;
        // grid-gap: 0 32px;
        flex-wrap: wrap;
        margin: 0 auto;
        
        .title {
            font-size: .875em;
            font-weight: 600;
            padding-bottom: 6px;
        }
        
        a, p:not(.title) {
            color: map-get($colors, text);
            font-size: .75em;
            padding-bottom: 4px;
            text-decoration: none;
        }
        
        > div {

        }
    }
}