@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  font-size: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
* :focus {
  outline: none;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1em;
  font-weight: 500;
}
body a, body span, body h1, body h2, body h3 {
  display: inline-block;
}
body h2 {
  font-size: 1.5em;
}
body h3 {
  font-size: 1.125em;
}
body a {
  text-decoration: none;
  transition: 0.125s linear;
}
body a.arrow {
  background: url(/Shell-Shield/assets/icon/right-arrow.svg) right center no-repeat;
  background-size: 12px;
  padding-right: 18px;
  transition: 0.125s linear;
}
body a.arrow:hover {
  padding-right: 20px;
}
body .link:hover {
  cursor: pointer;
  text-decoration: underline;
}
body .btn {
  border: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1em;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.125s linear;
}
body .btn.solid {
  color: #F2F2F2;
  padding: 10px 24px;
  cursor: pointer;
}
body .btn.solid.red {
  background-color: #FF6961;
}
body .btn.solid.red:hover {
  color: #FF6961;
}
body .btn.solid:hover {
  background: none;
  outline: 2px solid #FF6961;
  outline-offset: -2px;
}
body .btn.icon {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  transition: 0.125s linear;
}
body .btn.icon:hover {
  background-color: #F2F2F2;
  cursor: pointer;
  transform: scale(1.125);
}
body .title-band {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  position: relative;
}
body .title-band h2 {
  background-color: #FFF;
  font-size: 1.5em;
  padding: 0 10px;
  z-index: 2;
}
body .title-band hr {
  background-color: #D9D9D8;
  border: none;
  height: 2px;
  position: absolute;
  width: 100%;
  top: calc(50% - 2px);
  z-index: 1;
}
body .title-band.below {
  justify-content: left;
}
body .title-band.below h2 {
  background-color: transparent;
  margin: 0 0 48px 24px;
  padding: 0;
}
body .copy {
  padding: 0 24px;
}
@media (max-width: 829px) {
  body .copy {
    padding: 0 12px;
  }
}
@media (max-width: 500px) {
  body .copy {
    padding: 0;
  }
}
body .matrix {
  display: grid;
  gap: 32px 24px;
  grid-template-columns: repeat(auto-fill, 324px);
  justify-content: space-around;
  padding: 0 24px;
}
body .matrix img {
  box-shadow: 4px 4px 4px hsla(0, 0%, 65%, 0.5);
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  body .matrix {
    grid-template-columns: repeat(auto-fill, 324px);
  }
  body .matrix .tile .img {
    height: 141px;
  }
}
@media (max-width: 605px) {
  body .matrix {
    grid-template-columns: repeat(auto-fill, 324px);
  }
  body .matrix .tile .img {
    height: 188px;
  }
}
body .social {
  background: center no-repeat;
  background-size: 100%;
  display: block;
  transition: 0.125s linear;
}
body .social.linkedin {
  background-image: url(/Shell-Shield/assets/icon/linkedin.svg);
  height: 24px;
  width: 24px;
}
body .social:hover {
  box-shadow: 2px 2px 2px hsla(0, 0%, 65%, 0.5);
  transform: scale(1.1);
}

#mobile-nav {
  background-color: hsla(60, 1%, 15%, 0.33);
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 20;
  display: none;
}
#mobile-nav .panel {
  background-color: #fff;
  height: 100%;
  position: absolute;
  right: 0;
  width: 258px;
}
#mobile-nav .panel .nav-header {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
}
#mobile-nav .panel .nav-header .nav-logo {
  background: url(/Shell-Shield/assets/icon/logo.svg) center no-repeat;
  background-size: 100%;
  height: 24px;
  padding: 20px;
  width: 24px;
}
#mobile-nav .panel .nav-header #nav-close {
  background-image: url(/Shell-Shield/assets/icon/nav-close.svg);
  background-size: 16px;
  border-radius: 100vmax;
  height: 24px;
  padding: 20px;
  width: 24px;
}
#mobile-nav .panel .nav-items .link {
  color: #262625;
  display: inline-block;
  font-size: 1em;
  padding: 8px 32px;
  transition: 0.125s linear;
  width: 100%;
}
#mobile-nav .panel .nav-items .link.title {
  font-size: 1.125em;
  padding: 8px 24px;
}
#mobile-nav .panel .nav-items .link:hover {
  background-color: #F2F2F2;
}

#site-wrapper {
  position: relative;
}
#site-wrapper #main > div:not(#hero) {
  max-width: calc(100vw - 48px);
  margin: 0 auto 48px;
}
#site-wrapper #main > div:not(#hero) .copy:not(:only-of-type, :last-of-type) {
  line-height: 1.5em;
  margin-bottom: 12px;
}
#site-wrapper #main > div:not(#hero):last-child {
  margin-bottom: 96px;
}
#site-wrapper.about .copy {
  text-align: center;
}

#header {
  align-items: center;
  border-bottom: 2px solid #D9D9D8;
  display: flex;
  font-size: 1em;
  height: 64px;
  justify-content: space-between;
  padding: 0 24px;
  width: 100%;
}
#header .logo-block #header-logo {
  align-items: center;
  color: #262625;
  display: flex;
  font-weight: 600;
  text-transform: uppercase;
}
#header .logo-block #header-logo .logo {
  background-image: url(/Shell-Shield/assets/icon/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 24px;
  margin-right: 12px;
  width: 51px;
}
#header .nav-block #navigation {
  align-items: center;
  display: flex;
}
#header .nav-block #navigation > :last-child {
  margin-left: 12px;
}
#header .nav-block #navigation .link {
  padding: 18px 24px;
}
#header .nav-block #navigation a:not(.btn) {
  color: #262625;
}
#header .nav-block #navigation .drawer a.link:not(.title):hover {
  background-color: #F2F2F2;
}
#header .nav-block #navigation .dropdown {
  background-color: #FFFFFF;
  display: none;
  flex-direction: column;
  position: absolute;
  padding-bottom: 8px;
  z-index: 3;
}
#header .nav-block #navigation .dropdown a {
  padding: 8px 24px;
  width: 100%;
  font-size: 0.875em;
}
#header .nav-block #navigation .drawer:hover .dropdown {
  display: block;
}
@media (max-width: 829px) {
  #header .nav-block #navigation {
    display: none;
  }
}
#header .nav-block #nav-open {
  background-image: url(/Shell-Shield/assets/icon/menu.svg);
  background-size: 24px 16px;
  border-radius: 100vmax;
  display: none;
  height: 16px;
  padding: 20px;
  transition: 0.125s linear;
  width: 24px;
}
@media (max-width: 829px) {
  #header .nav-block #nav-open {
    display: block;
  }
}

#hero {
  display: flex;
  flex-direction: column;
}
#hero .hero-bg {
  background: url(/Shell-Shield/assets/img/hero-home.png) center no-repeat;
  background-size: cover;
  height: 500px;
  margin-bottom: 48px;
}
@media (max-width: 829px) {
  #hero .hero-bg {
    height: 250px;
  }
}
#hero img {
  border-radius: 12px;
  margin: 24px auto;
  max-width: 90%;
}

#article {
  margin: 0 auto;
  width: 934px;
}
#article .title-section {
  margin-bottom: 24px;
}
#article .title-section .page-title {
  font-size: 3em;
}
#article .title-section #credits {
  align-items: center;
  display: flex;
  gap: 12px;
  margin-top: 12px;
}
#article .title-section #credits a {
  color: #262625;
  margin-bottom: 4px;
}
#article .title-section #credits .profile-pic {
  background-color: gray;
  width: 56px;
  height: 56px;
  border-radius: 100vmax;
}
#article .title-section #credits .author {
  display: inline-flex;
  gap: 3px;
}
#article .title-section #credits .author .social {
  height: 16px;
  margin: 3px 0 0 6px;
  width: 16px;
}
#article .bold {
  font-weight: bold;
}
#article .section {
  margin-bottom: 24px;
}
#article .section p:not(:last-child) {
  margin-bottom: 12px;
}
#article .section p:not(:last-child):only-of-type {
  margin-bottom: 16px;
}
#article .section p:not(.title-section p) {
  line-height: 1.75em;
}
#article .section > ul, #article .section ol {
  line-height: 1.75em;
  padding-left: 40px;
}
#article .section > ul li, #article .section ol li {
  list-style: disc;
}
#article .section > ul li.subpoint, #article .section ol li.subpoint {
  margin-left: 24px;
}
#article .section > ul li:not(:last-of-type), #article .section ol li:not(:last-of-type) {
  margin-bottom: 6px;
}
#article .section > ul:not(:last-child), #article .section ol:not(:last-child) {
  margin-bottom: 18px;
}
#article .section ol li {
  list-style-type: decimal;
}
#article .section ol:not(:last-child) {
  margin-bottom: 12px;
}
#article .section .section-title {
  font-size: 1.5em;
  margin-bottom: 12px;
}
#article .section .subtitle {
  font-size: 1.25em;
  margin-bottom: 6px;
}
#article .subsection {
  margin-bottom: 48px;
  padding: 0 20px;
}
#article .subsection h4 {
  margin-bottom: 12px;
}
#article table {
  border-spacing: 0px;
  color: #262625;
  overflow-x: scroll;
  display: block;
}
#article table .titles td {
  background-color: #D9D9D8;
  font-weight: bold;
}
#article table td {
  background-color: #F2F2F2;
  padding: 4px 8px;
  vertical-align: top;
  white-space: nowrap;
  width: 324px;
}

#focus .focus-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-around;
}
#focus .focus-cards .card {
  text-align: center;
  width: 324px;
}
#focus .focus-cards .card .title {
  margin-bottom: 4px;
}
#focus .focus-cards .card p {
  line-height: 1.75em;
}
#focus .focus-cards .card .icon {
  background-color: #F2F2F2;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100vmax;
  box-shadow: 4px 4px 4px hsla(0, 0%, 65%, 0.5);
  height: 48px;
  margin: 0 auto 6px;
  width: 48px;
}
#focus .focus-cards .card .icon.network {
  background-image: url(/Shell-Shield/assets/icon/wifi.svg);
  background-size: 24px 17px;
}
#focus .focus-cards .card .icon.endpoint {
  background-image: url(/Shell-Shield/assets/icon/laptop.svg);
  background-size: 24px 17px;
}
#focus .focus-cards .card .icon.user {
  background-image: url(/Shell-Shield/assets/icon/user.svg);
  background-size: 16px;
}

.article-tiles .tile img {
  background-color: #F2F2F2;
  border-radius: 12px;
  display: block;
  height: 188px;
}
.article-tiles .tile .tag-list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 4px;
  padding: 6px 0 4px 0;
  width: 100%;
}
.article-tiles .tile .tag-list .tag {
  border-radius: 6px;
  background-color: #F2F2F2;
  transition: 0.125s linear;
}
.article-tiles .tile .tag-list .tag a {
  color: #262625;
  font-size: 0.875em;
  padding: 2px 12px;
}
.article-tiles .tile .tag-list .tag:hover {
  box-shadow: 2px 2px 2px hsla(0, 0%, 65%, 0.5);
}
.article-tiles .tile h3 {
  margin-bottom: 2px;
}
.article-tiles .tile p {
  font-size: 0.875em;
  margin-bottom: 6px;
}
.article-tiles .tile a {
  color: #262625;
}

#insights .more {
  margin: 48px auto 0;
  width: -moz-fit-content;
  width: fit-content;
}
#insights .more a {
  font-size: 1.125em;
}

#solutions > div:not(.title-band) > h3 {
  margin-bottom: 8px;
}
#solutions > div:not(.title-band) > p {
  margin-bottom: 12px;
}
#solutions details {
  margin-bottom: 32px;
}
#solutions details summary {
  list-style-type: none;
  margin-bottom: 24px;
  padding-left: 32px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#solutions details summary ::before {
  background: url(/Shell-Shield/assets/icon/list-closed.svg) center no-repeat;
  background-size: 16px;
  content: "";
  height: 24px;
  left: 0;
  position: absolute;
  width: 24px;
}
#solutions details summary::-webkit-details-marker {
  display: none;
}
#solutions details summary:hover {
  cursor: pointer;
}
#solutions details[open] summary ::before {
  background: url(/Shell-Shield/assets/icon/list-open.svg) center no-repeat;
  background-size: 16px;
  top: 6px;
}
#solutions .article-tiles {
  padding-bottom: 32px;
}

#contributors .card {
  background-color: #A6A6A6;
  border-radius: 12px;
  box-shadow: 4px 4px 4px hsla(0, 0%, 65%, 0.5);
  height: 350px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 250px;
}
#contributors .card .heading {
  background-color: #F2F2F2;
  bottom: 0;
  padding: 8px 16px;
  position: absolute;
  width: 100%;
  color: #262625;
}
#contributors .card .heading p:not(:last-child) {
  padding-bottom: 8px;
}
#contributors .card .heading ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

#resources #resource-tiles .tile {
  border-radius: 12px;
  box-shadow: 4px 4px 4px hsla(0, 0%, 65%, 0.5);
  position: relative;
}
#resources #resource-tiles .tile .img {
  border-radius: 12px;
  height: 188px;
  background-color: #F2F2F2;
}
#resources #resource-tiles .tile .title {
  bottom: 8px;
  padding: 0 16px;
  position: absolute;
}

#footer {
  background-color: #F2F2F2;
  padding: 24px 32px 48px;
}
#footer #breadcrumbs {
  display: flex;
  flex-direction: row;
  gap: 32px;
  flex-wrap: wrap;
  margin: 0 auto;
}
#footer #breadcrumbs .title {
  font-size: 0.875em;
  font-weight: 600;
  padding-bottom: 6px;
  width: -moz-fit-content;
  width: fit-content;
}
#footer #breadcrumbs a, #footer #breadcrumbs p:not(.title) {
  color: #262625;
  font-size: 0.75em;
  padding-bottom: 4px;
}
@media (max-width: 616px) {
  #footer #breadcrumbs {
    flex-direction: column;
    gap: 16px;
  }
}/*# sourceMappingURL=style.css.map */