@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@mixin breakpoint($max-width) {
    @media (max-width: $max-width) {
        @content;
    }
}

$colors: (
    text: #262625,
    text-inverse: hsl(0, 0%, 95%),
    
    dark_gray_shadow: hsla(0, 0%, 65%, 0.5),
    black_shadow: hsla(60, 1%, 15%, 0.33),
    
    light_gray: #F2F2F2,
    med_gray: #D9D9D8,
    dark_gray: #A6A6A6,
    
    accent: #FF6961
);

* {
    box-sizing: border-box;
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
    font-weight: 500;

    a, span, h1, h2, h3 {
        display: inline-block;
    }

    h3 {
        font-size: 1.125em;
    }

    a {
        text-decoration: none;
        transition: .125s linear;

        &.link:hover {
            text-decoration: underline;
        }

        &.arrow {
            background: url(/Shell-Shield/assets/icon/right-arrow.svg) right center no-repeat;
            background-size: 12px;
            padding-right: 18px;
            transition: .125s linear;

            &:hover {
                padding-right: 20px;
            }
        }
    }

    .btn {
        border: none;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1em;
        font-weight: 600;
        width: fit-content;
        transition: .125s linear;

        &.solid {
            color: map-get($colors, light_gray);
            padding: 10px 24px;
            cursor: pointer;

            &.red {
                background-color: map-get($colors, accent);

                &:hover {
                    color: map-get($colors, accent);
                }
            }
    
            &:hover {
                background: none;
                outline: 2px solid map-get($colors, accent);
                outline-offset: -2px;
            }
        }

        &.icon {
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            border: none;
            transition: .125s linear;

            &:hover {
                background-color: map-get($colors, light_gray);
                cursor: pointer;
                transform: scale(1.125);
            }
        }
    }

    .title-band {
        display: flex;
        justify-content: center;
        padding: 24px 0;
        position: relative;

        h2 {
            background-color: #FFF;
            font-size: 1.5em;
            padding: 0 10px;
            z-index: 2;
        }

        hr {
            background-color: map-get($colors, med_gray);
            border: none;
            height: 2px;
            position: absolute;
            width: 100%;
            top: calc(50% - 2px);
            z-index: 1;
        }

        &.below {
            justify-content: left;

            h2 {
                background-color: transparent;
                margin: 0 0 48px 24px;
                padding: 0;
            }
        }
    }

    .copy {
        padding: 0 24px;
        
        @include breakpoint(829px) {
            padding: 0 12px;
        }
        
        @include breakpoint(500px) {
            padding: 0;
        }
    }

    .matrix {
        display: grid;
        gap: 32px 24px;
        grid-template-columns: repeat(auto-fill, 324px); 
        justify-content: space-around;
        padding: 0 24px;

        @include breakpoint(767px) {
            grid-template-columns: repeat(auto-fill, 324px); 

            .tile .img {
                height: 141px;
            }
        }
        
        @include breakpoint(605px) {
            grid-template-columns: repeat(auto-fill, 324px); 

            .tile .img {
                height: 188px;
            }
        }
    }

    .social {
        background: center no-repeat;
        background-size: 100%;
        display: block;
        transition: .125s linear;

        &.linkedin {
            background-image: url(/Shell-Shield/assets/icon/linkedin.svg);
            height: 24px;
            width: 24px;
        }

        &:hover {
            box-shadow: 2px 2px 2px map-get($colors, dark_gray_shadow);
            transform: scale(1.1);
        }
    }
}

#mobile-nav {
    background-color: map-get($colors, black_shadow);
    height: 100vh;
    position: fixed;
    width: 100vw;
    z-index: 20;

    display: none;

    .panel {
        background-color: #fff;
        height: 100%;
        position: absolute;
        right: 0;
        width: 258px;

        .nav-header {
            display: flex;
            justify-content: space-between;
            padding: 12px 24px;

            .nav-logo {
                background: url(/Shell-Shield/assets/icon/logo.svg) center no-repeat;
                background-size: 100%;
                height: 24px;
                padding: 20px;
                width: 24px;
            }

            #nav-close {
                background-image: url(/Shell-Shield/assets/icon/nav-close.svg);
                background-size: 16px;
                border-radius: 100vmax;
                height: 24px;
                padding: 20px;
                width: 24px;
            }
        }

        .nav-items {
            .link {
                color: map-get($colors, text);
                display: inline-block;
                font-size: 1em;
                padding: 8px 32px;
                transition: .125s linear;
                width: 100%;
                
                &.title {
                    font-size: 1.125em;
                    padding: 8px 24px;
                }

                &:hover {
                    background-color: map-get($colors, light_gray);
                }
            }
        }
    }
}

#site-wrapper {
    position: relative;

    #main > div:not(#hero) {
        max-width: calc(100vw - 48px);
        margin: 0 auto 48px;

        .copy:not(:only-of-type, :last-of-type) {
            line-height: 1.5em;
            margin-bottom: 12px;
        }

        &:last-child {
            margin-bottom: 96px;
        }
    }
}

#header {
    align-items: center;
    border-bottom: 2px solid map-get($colors, med_gray);
    display: flex;
    font-size: 1em;
    height: 64px;
    justify-content: space-between;
    padding: 0 24px;
    width: 100%;

    .logo-block {
        #header-logo {
            align-items: center;
            color: map-get($colors, text);
            display: flex;
            font-weight: 600;
            text-transform: uppercase;

            .logo {
                background-image: url(/Shell-Shield/assets/icon/logo.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                height: 24px;
                margin-right: 12px;
                width: 51px;
            }
        }
    }

    .nav-block {
        #navigation {
            align-items: center;
            display: flex;

                > :last-child {
                    margin-left: 12px;
                }

            a:not(.btn) {
                color: map-get($colors, text);
                padding: 18px 24px;
            }

            .drawer {
                a.link:not(.title):hover {
                    background-color: map-get($colors, light_gray);
                }
            }

            .dropdown {
                background-color: #FFFFFF;
                display: none;
                flex-direction: column;
                position: absolute;
                padding-bottom: 8px;
                z-index: 3;

                a {
                    padding: 8px 24px;
                    width: 100%;
                    font-size: .875em;
                }
            }

            .drawer:hover .dropdown {
                display: block;
            }

            @include breakpoint(829px) {
                display: none;
            }
        }

        #nav-open {
            background-image: url(/Shell-Shield/assets/icon/menu.svg);
            background-size: 24px 16px;
            border-radius: 100vmax;
            display: none;
            height: 16px;
            padding: 20px;
            transition: .125s linear;
            width: 24px;

            @include breakpoint(829px) {
                display: block;
            }
        }
    }
}

#hero {
    display: flex;
    flex-direction: column;

    .hero-bg {
        background: url(/Shell-Shield/assets/img/hero-home.png) left center no-repeat;
        height: 500px;
        margin-bottom: 48px;

        @include breakpoint(829px) {
            height: 250px;
        }
    }

    img {
        border-radius: 12px;
        margin: 24px auto;
        max-width: 90%;
    }
}

#article {
    margin: 0 auto;
    width: max(934px);

    ol {
        li {
            list-style-type: decimal;
        }

        padding-left: 40px;
    }

    li, p:not(.title-section p) {
        line-height: 1.75em;
    }

    .title-section {
        margin-bottom: 24px;

        .page-title {
            font-size: 3em;
        }

        #credits {
            align-items: center;
            display: flex;
            gap: 12px;
            margin-top: 12px;
    
            a {
                color: map-get($colors, text);
                margin-bottom: 4px;
            }
    
            .profile-pic {
                background-color: gray;
                width: 56px;
                height: 56px;
                border-radius: 100vmax;
            }

            .author {
                display: inline-flex;
                gap: 3px;

                .social {
                    height: 16px;
                    margin: 3px 0 0 6px;
                    width: 16px;
                }
            }
        }
    }

    .bold {
        font-weight: bold;
    }

    ul  {
        padding-left: 40px;

        li {
            list-style: disc;
        }
    }

    .section {
        margin-bottom: 24px;

        p:not(:last-child) {
            margin-bottom: 12px;

            &:only-of-type {
                margin-bottom: 16px;
            }
        }

        li:not(:last-of-type) {
            margin-bottom: 6px;
        }
        
        .section-title {
            font-size: 1.5em;
            margin-bottom: 6px;
        }

        .subtitle {
            font-size: 1.25em;
            margin-bottom: 6px;

            &:not(:first-of-type) {
                // background-color: red;
                // margin-top: 12px;
            }
        }
    }

    .subsection {
        margin-bottom: 12px;
        padding: 0 20px;
    }
}

#focus {
    .focus-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: space-around;

        .card {
            text-align: center;
            width: 324px;

            .title {
                margin-bottom: 4px;
            }

            p {
                line-height: 1.75em;
            }

            .icon {
                background-color: map-get($colors, light_gray);
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 100vmax;
                box-shadow: 4px 4px 4px map-get($colors, dark_gray_shadow);
                height: 48px;
                margin: 0 auto 6px;
                width: 48px;
                
                &.network {
                    background-image: url(/Shell-Shield/assets/icon/wifi.svg);
                    background-size: 24px 17px;
                }
                
                &.endpoint {
                    background-image: url(/Shell-Shield/assets/icon/laptop.svg);
                    background-size: 24px 17px;
                }
                
                &.user {
                    background-image: url(/Shell-Shield/assets/icon/user.svg);
                    background-size: 16px;
                }
            }
        }
    }
}

#insights {
    #article-tiles {
        .tile {
            img {
                background-color: map-get($colors, light_gray);
                border-radius: 12px;
                height: 188px;
                display: block;
            }

            .tag-list {
                display: inline-flex;
                flex-wrap: wrap;
                gap: 6px;
                margin-bottom: 4px;
                padding: 6px 0 4px 0;
                width: 100%;
                
                .tag {
                    border-radius: 6px;
                    background-color: map-get($colors, light_gray);
                    transition: .125s linear;
                    
                    a {
                        font-size: .875em;
                        padding: 2px 12px;
                    }

                    &:hover {
                        box-shadow: 2px 2px 2px map-get($colors, dark_gray_shadow);
                    }
                }
            }

            h3 {
                margin-bottom: 2px;
            }

            p {
                font-size: .875em;
                margin-bottom: 6px;
            }

            a {
                color: map-get($colors, text);
            }
        }
    }
}

#contributors {
    .card {
        background-color: map-get($colors, dark_gray);
        border-radius: 12px;
        box-shadow: 4px 4px 4px map-get($colors, dark_gray_shadow);
        height: 350px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        width: 250px;

        .heading {
            background-color: map-get($colors, light_gray);
            bottom: 0;
            padding: 8px 16px;
            position: absolute;
            width: 100%;
            color: map-get($colors, text);

            p:not(:last-child) {
                padding-bottom: 8px;
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
            }
        }
    }
}

#resources {
    #resource-tiles {
        .tile {
            border-radius: 12px;
            box-shadow: 4px 4px 4px map-get($colors, dark_gray_shadow);
            position: relative;
            
            .img {
                border-radius: 12px;
                height: 188px;
                background-color: map-get($colors, light_gray);
            }

            .title {
                bottom: 8px;
                padding: 0 16px;
                position: absolute;
            }
        }
    }
}

#footer {
    background-color: map-get($colors, light_gray);
    padding: 24px 32px 48px;

    #breadcrumbs {
        display: flex;
        flex-direction: row;
        gap: 32px;
        flex-wrap: wrap;
        margin: 0 auto;
        
        .title {
            font-size: .875em;
            font-weight: 600;
            padding-bottom: 6px;
        }
        
        a, p:not(.title) {
            color: map-get($colors, text);
            font-size: .75em;
            padding-bottom: 4px;
        }

        @include breakpoint(616px) {
            flex-direction: column;
            gap: 16px;
        }
    }
}