@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1em;
  font-weight: 500;
}
body a, body span, body h1, body h2, body h3 {
  display: inline-block;
}
body a {
  text-decoration: none;
}
body a.link:hover {
  text-decoration: underline;
}
body a.arrow {
  background: url(/Shell-Shield/assets/icon/right-arrow.svg) right center no-repeat;
  background-size: 12px;
  padding-right: 18px;
  transition: 0.125s linear;
}
body a.arrow:hover {
  padding-right: 20px;
}
body .btn {
  border: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1em;
  font-weight: 600;
}
body .btn.solid {
  color: #F2F2F2;
  padding: 10px 24px;
  cursor: pointer;
}
body .btn.solid.red {
  background-color: #FF6961;
}
body .btn.solid.red:hover {
  color: #FF6961;
}
body .btn.solid:hover {
  background: none;
  outline: 2px solid #FF6961;
  outline-offset: -2px;
}
body .btn.icon {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
body .btn.icon:hover {
  background-color: #F2F2F2;
  cursor: pointer;
  transform: scale(1.125);
}
body .title-band {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  position: relative;
}
body .title-band h2 {
  background-color: #FFF;
  padding: 0 10px;
  z-index: 2;
}
body .title-band hr {
  background-color: #D9D9D8;
  border: none;
  height: 2px;
  position: absolute;
  width: 100%;
  top: calc(50% - 2px);
  z-index: 1;
}
body .title-band.below {
  justify-content: left;
}
body .title-band.below h2 {
  background-color: transparent;
  margin: 0 0 48px 24px;
  padding: 0;
}
body .matrix {
  display: grid;
  gap: 32px 24px;
  grid-template-columns: repeat(auto-fill, 324px);
  justify-content: space-around;
  padding: 0 24px;
}
@media (max-width: 767px) {
  body .matrix {
    grid-template-columns: repeat(auto-fill, 243px);
  }
  body .matrix .tile .img {
    height: 141px;
  }
}
@media (max-width: 605px) {
  body .matrix {
    grid-template-columns: repeat(auto-fill, 324px);
  }
  body .matrix .tile .img {
    height: 188px;
  }
}

#mobile-nav {
  background-color: hsla(60, 1%, 15%, 0.33);
  display: none;
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 20;
}
#mobile-nav .panel {
  background-color: #FFFFFF;
  float: right;
  height: 100vh;
  width: 258px;
}
#mobile-nav .panel a {
  width: 100%;
}
#mobile-nav .panel a:hover {
  background-color: #F2F2F2;
}
#mobile-nav .panel li .title {
  font-size: 1.125em;
  padding: 8px 24px;
}
#mobile-nav .panel li ul a {
  padding: 4px 32px;
}
#mobile-nav .panel #mobile-nav-close {
  background-image: url(/Shell-Shield/assets/icon/menu-close.svg);
  background-size: 16px;
  border-radius: 100vmax;
  height: 16px;
  padding: 20px;
  position: absolute;
  right: 0px;
  top: 0px;
  transition: 0.125s linear;
  width: 16px;
}
@media (max-width: 829px) {
  #mobile-nav {
    display: block;
  }
}

#site-wrapper {
  position: relative;
}
#site-wrapper #main > div:not(#hero) {
  max-width: calc(100vw - 48px);
  margin: 0 auto 48px;
}

#header > div {
  align-items: center;
  border-bottom: 2px solid #D9D9D8;
  display: flex;
  font-size: 1em;
  height: 64px;
  justify-content: space-between;
  padding: 0 24px;
  width: 100%;
}
#header > div .logo-block #header-logo {
  align-items: center;
  color: #262625;
  display: flex;
  font-weight: 600;
  text-transform: uppercase;
}
#header > div .logo-block #header-logo .logo {
  background-image: url(/Shell-Shield/assets/icon/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 24px;
  margin-right: 12px;
  width: 51px;
}
#header > div .nav-block #navigation {
  align-items: center;
  display: flex;
}
#header > div .nav-block #navigation > :last-child {
  margin-left: 12px;
}
#header > div .nav-block #navigation a:not(.btn) {
  color: #262625;
  padding: 18px 24px;
}
#header > div .nav-block #navigation .drawer:hover .dropdown {
  font-size: 0.875em;
}
#header > div .nav-block #navigation .dropdown {
  background-color: #FFFFFF;
  display: none;
  flex-direction: column;
  position: absolute;
  padding-bottom: 8px;
  z-index: 3;
}
#header > div .nav-block #navigation .dropdown a {
  padding: 8px 24px;
  width: 100%;
}
#header > div .nav-block #navigation .drawer:hover .dropdown {
  display: block;
}
@media (max-width: 829px) {
  #header > div .nav-block #navigation {
    display: none;
  }
}
#header > div .nav-block #mobile-menu-btn {
  background-image: url(/Shell-Shield/assets/icon/menu.svg);
  background-size: 24px 16px;
  border-radius: 100vmax;
  display: none;
  height: 16px;
  padding: 20px;
  transition: 0.125s linear;
  width: 24px;
}
@media (max-width: 829px) {
  #header > div .nav-block #mobile-menu-btn {
    display: block;
  }
}

#hero .hero-bg {
  background: url(/Shell-Shield/assets/img/hero-home.png) left center no-repeat;
  height: 500px;
}
@media (max-width: 829px) {
  #hero .hero-bg {
    height: 250px;
  }
}

#focus .focus-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-around;
}
#focus .focus-cards .card {
  text-align: center;
  width: 324px;
}
#focus .focus-cards .card .title {
  margin-bottom: 4px;
}
#focus .focus-cards .card .icon {
  background-color: #F2F2F2;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100vmax;
  box-shadow: 4px 4px 4px hsla(0, 0%, 65%, 0.5);
  height: 48px;
  margin: 0 auto 6px;
  width: 48px;
}
#focus .focus-cards .card .icon.network {
  background-image: url(/Shell-Shield//assets/icon/wifi.svg);
  background-size: 24px 17px;
}
#focus .focus-cards .card .icon.endpoint {
  background-image: url(/Shell-Shield//assets/icon/laptop.svg);
  background-size: 24px 17px;
}
#focus .focus-cards .card .icon.user {
  background-image: url(/Shell-Shield//assets/icon/user.svg);
  background-size: 16px;
}

#insights #article-tiles .tile .img {
  background-color: #F2F2F2;
  border-radius: 12px;
  height: 188px;
}
#insights #article-tiles .tile .tag-list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 4px;
  padding: 6px 0 4px 0;
  width: 100%;
}
#insights #article-tiles .tile .tag-list .tag {
  border-radius: 6px;
  background-color: #F2F2F2;
  transition: 0.125s linear;
}
#insights #article-tiles .tile .tag-list .tag a {
  color: #262625;
  font-size: 0.875em;
  padding: 2px 12px;
}
#insights #article-tiles .tile .tag-list .tag:hover {
  filter: drop-shadow(2px 2px 2px hsla(0, 0%, 65%, 0.5));
}
#insights #article-tiles .tile h3 {
  margin-bottom: 2px;
}
#insights #article-tiles .tile p {
  font-size: 0.875em;
  margin-bottom: 6px;
}

#resources #resource-tiles .tile {
  border-radius: 12px;
  box-shadow: 4px 4px 4px hsla(0, 0%, 65%, 0.5);
  position: relative;
}
#resources #resource-tiles .tile .img {
  border-radius: 12px;
  height: 188px;
  background-color: #F2F2F2;
}
#resources #resource-tiles .tile .title {
  bottom: 8px;
  padding: 0 16px;
  position: absolute;
}

#footer > div {
  background-color: #F2F2F2;
  padding: 24px 48px 48px;
}
#footer > div #breadcrumbs {
  display: flex;
  flex-direction: row;
  gap: 32px;
  flex-wrap: wrap;
  margin: 0 auto;
}
#footer > div #breadcrumbs .title {
  font-size: 0.875em;
  font-weight: 600;
  padding-bottom: 6px;
}
#footer > div #breadcrumbs a, #footer > div #breadcrumbs p:not(.title) {
  color: #262625;
  font-size: 0.75em;
  padding-bottom: 4px;
}
@media (max-width: 616px) {
  #footer > div #breadcrumbs {
    flex-direction: column;
    gap: 16px;
  }
}/*# sourceMappingURL=style.css.map */