<div>
    <div id="breadcrumbs">
        <div>
            <a href="/Shell-Shield/solutions/index.html" class="title link">Shell Shield Solutions</a>
            <ul>
                <li>
                    <p>Phoenix, AZ, 85017</p>
                </li>
                <li>
                    <a href="#" class="link">shellshieldsolutions@gmail.com</a>
                </li>
            </ul>
        </div>
        <div>
            <a href="/Shell-Shield/solutions/index.html" class="title link">Solutions</a>
            <ul>
                <li>
                    <a href="#" class="link">Network Security</a>
                </li>
                <li>
                    <a href="#" class="link">Web Security</a>
                </li>
                <li>
                    <a href="#" class="link"> User Awareness</a>
                </li>
            </ul>
        </div>
        <div>
            <a href="/Shell-Shield/resources/index.html" class="title link">Resources</a>
        </div>
        <div>
            <a href="/Shell-Shield/about/index.html" class="title link">About Us</a>
            <ul>
                <li>
                    <a href="#" class="link">Mission</a>
                </li>
                <li>
                    <a href="#" class="link">Vision Statement</a>
                </li>
                <li>
                    <a href="#" class="link">Contributors</a>
                </li>
            </ul>
        </div>
    </div>
</div>