  <div>
    <div class="logo-block">
        <a href="/Shell-Shield" id="header-logo">
            <span class="logo"></span>
            Shell Shield Solutions
        </a>
    </div>
    <div class="nav-block">
        <ul id="navigation">
            <li>
                <div class="drawer">
                    <a href="/Shell-Shield/solutions/index.html">Solutions</a>
                    <div class="dropdown">
                        <ul>
                            <li>
                                <a href="#" class="link">Network Security</a>
                            </li>
                            <li>
                                <a href="#" class="link">Endpoint Management</a>
                            </li>
                            <li>
                                <a href="#" class="link">User Awareness</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="drawer">
                    <a href="/Shell-Shield/resources/index.html" class="link">Resources</a>
                </div>
            </li>
            <li>
                <div class="drawer">
                    <a href="/Shell-Shield/about/index.html">About Us</a>
                    <div class="dropdown">
                        <ul>
                            <li>
                                <a href="#" class="link">Mission</a>
                            </li>
                            <li>
                                <a href="#" class="link">Vision Statement</a>
                            </li>
                            <li>
                                <a href="#" class="link">Contributors</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <button type="button" class="btn solid red">Contact Us</button>
            </li>
        </ul>
        <button type="button" id="mobile-menu-btn" class="btn icon"></button>
    </div>            
</div>