<div id="header">
    <div id="logo-block">
        <a href="#" id="header-logo"><span class="logo"></span>Shell Shield Solutions</a>
    </div>
    <div id="nav-block">
        <ul id="navigation">
            <li>
                <div class="drawer">
                    <a href="#">Solutions</a>
                    <div class="dropdown">
                        <ul>
                            <li>
                                <a href="#">Network Security</a>
                            </li>
                            <li>
                                <a href="#">Web Security</a>
                            </li>
                            <li>
                                <a href="#">User Awareness</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="drawer">
                    <a href="#">Resources</a>
                    <div class="dropdown">
                        <ul>
                            <li>
                                <a href="#">Placeholder</a>
                            </li>
                            <li>
                                <a href="#">Placeholder</a>
                            </li>
                            <li>
                                <a href="#">Placeholder</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="drawer">
                    <a href="#">About Us</a>
                    <div class="dropdown">
                        <ul>
                            <li>
                                <a href="#">Mission</a>
                            </li>
                            <li>
                                <a href="#">Vision Statement</a>
                            </li>
                            <li>
                                <a href="#">Contributors</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="contact btn solid">Contact Us</a>
            </li>
        </ul>
        <button type="button" id="mobile-nav"></button>
    </div>            
</div>